@model VentaNET.Models.Usuario

@{
    Layout = "";
}

<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/usuario.css" />
</head>

<body>

    <h1 class="title">Usuario</h1>
    <div id="form">
        <form asp-controller="Usuario" asp-action="Verificar" method="post">
            <div class="mb-3">
                <label for="UserName" class="form-label">Username</label>
                <input asp-for="UserName" class="form-control" />
            </div>
            <div class="mb-3">
                <label for="Password" class="form-label">Password</label>
                <input asp-for="Password" type="password" class="form-control" />
            </div>
            <button type="submit" class="btn btn-dark log-in-btn">Log In</button>
        </form>
    </div>
</body>

@*vstas parciales para errores, vistas modal?
    primeraEntrega_HoracioGoane
si usan usuario y contraseña adjuntar al archivo un txt con los valores
*@