@using VentasNet.Infra.DTO.Request
@model UsuarioReq

@{
    Layout = "";
}

<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/usuario.css" />
</head>

<body>

    <div id="form">
    <h1 class="title">Iniciar sesión</h1>
        <form asp-controller="Usuario" asp-action="Verificar" method="post">
            <div class="mb-3">
                <label for="UserName" class="form-label">Username</label>
                <input asp-for="UserName" class="form-control" />
            </div>
            <div class="mb-3">
                <label for="Password" class="form-label">Password</label>
                <input asp-for="Password" type="password" class="form-control" />
            </div>
            <button type="submit" class="btn btn-dark log-in-btn">Log In</button>
        </form>
    </div>
</body>